.about
	.about-container.container
		.about__section
			.about__section--img
				img.me-image(src='./images/me.png')
		.about__aside
			.about__aside--greeating
				h3.greeting-text Hey, I am Max.
			.about__aside--aboutme
				p.aboutme-text I am a professinal photographer from Germany. Events, Fashion and Beauty Shoots determine my everyday life, a perfect mix that never gets boring. „Photoshop“ is the keyword to all my personal artworks. Not only for simple beauty retouching but also to create a whole new world, where surrealism meets fashion. I want to share the joy of my work with you and that's why I put a lot of energy and love into all my pictures. It is very important to me to establish a personal connection with you. I don't want to see you just as a client, but as a friend whom I can accompany on a very important step in life. I want to get to know you and stand by your side so that your big day is simply unforgettable.
			.about__aside--inspiration
				p.inspiration-text “There is one thing the photograph must contain, the humanity of the moment.”
			.about__aside--experience
				.personal__experience
					p.personal__experience--number 13+
					span.personal__experience--text Years in field
				.taken__photos
					p.personal__experience--number 30k
					span.personal__experience--text Photos taken
