footer.footer
	.footer__container.container
		h3.footer__heading Follow me on
		.footer__social-list
			li.footer__social-item
				a.footer__social-item--link
					+svg('instagram').footer__social-item--icon
			li.footer__social-item
				a.footer__social-item--link
					+svg('twitter').footer__social-item--icon
			li.footer__social-item
				a.footer__social-item--link
					+svg('linkedin').footer__social-item--icon
			li.footer__social-item
				a.footer__social-item--link
					+svg('youtube').footer__social-item--icon
	.footer__waves-effect
		svg.waves(xmlns="http://www.w3.org/2000/svg", xlink="http://www.w3.org/1999/xlink", viewBox="0 24 150 28", preserveAspectRatio="none", shape-rendering="auto")
			defs
				path#gentle-wave(d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z")
			g.parallax
				use(href="#gentle-wave", x="48", y="0", fill="rgba(255,255,255,0.7")
				use(href="#gentle-wave", x="48", y="3", fill="rgba(255,255,255,0.5)")
				use(href="#gentle-wave", x="48", y="5", fill="rgba(255,255,255,0.3)")
				use(href="#gentle-wave", x="48", y="7", fill="#fff")
.footer__copyright-p
	p Copyright © Bunyod Khusainov
