.home-portfolio
	.home-portfolio__container.container
		.home-portfolio__title
			h2.home-portfolio__title--h2.heading-2 Check out my latest work
		.home-portfolio__list
			.home-portfolio__list--item.wide
				img(src='./images/fashion/fashion-2.jpg')
				.item__info
					p.item__info--article Fashion
					.item__info-btn
						a.item__info--link(href= '/') More
			.home-portfolio__list--item.tall
				img(src='./images/male/male-1.jpg')
				.item__info
					p.item__info--article Male
					.item__info-btn
						a.item__info--link(href= '/') More
			.home-portfolio__list--item.big
				img(src='./images/beauty/beauty-1.jpg')
				.item__info
					p.item__info--article Beauty
					.item__info-btn
						a.item__info--link(href= '/') More
			.home-portfolio__list--item
				img(src='./images/female/female-1.jpg')
				.item__info
					p.item__info--article Female
					.item__info-btn
						a.item__info--link(href= '/') More
			.home-portfolio__list--item
				img(src='./images/street/street-5.jpg')
				.item__info
					p.item__info--article Street Style
					.item__info-btn
						a.item__info--link(href= '/') More
			.home-portfolio__list--item.big
				img(src='./images/wedding/wedding-2.jpg')
				.item__info
					p.item__info--article Wedding
					.item__info-btn
						a.item__info--link.mas(href= '/') More
			.home-portfolio__list--item
				img(src='./images/outfit/outfit-1.jpg')
				.item__info
					p.item__info--article Outfit
					.item__info-btn
						a.item__info--link(href= '/') More
			.home-portfolio__list--item
				img(src='./images/life/life-1.jpg')
				.item__info
					p.item__info--article Life Style
					.item__info-btn
						a.item__info--link(href= '/') More

