nav.navbar
	section.navbar__section
		.nav__logo
		a.nav__logo--link(href= '/') infinity
	aside.navbar__aside
		ul.menu__list
			li.menu__list--item
				a.menu__list--link(href= 'portfolio.html') portfolio
			li.menu__list--item
				a.menu__list--link(href= '/') gear i use
		.social__list
			li.social__item
				a.social__item--link
					+svg('instagram').social__item--icon
			li.social__item
				a.social__item--link
					+svg('twitter').social__item--icon
			li.social__item
				a.social__item--link
					+svg('linkedin').social__item--icon
			li.social__item
				a.social__item--link
					+svg('youtube').social__item--icon

