.portfolio-hero
	ul.portfolio-hero__list
		li.portfolio-hero__list--item.image-1
			p.portfolio-hero__list--p Hey
			p.portfolio-hero__list--p Let's
			p.portfolio-hero__list--p Dance
		li.portfolio-hero__list--item.image-2
			p.portfolio-hero__list--p Give
			p.portfolio-hero__list--p Take
			p.portfolio-hero__list--p Recieve
		li.portfolio-hero__list--item.image-3
			p.portfolio-hero__list--p Experience
			p.portfolio-hero__list--p It
			p.portfolio-hero__list--p Today
		li.portfolio-hero__list--item.image-4
			p.portfolio-hero__list--p Give
			p.portfolio-hero__list--p All
			p.portfolio-hero__list--p You can
		li.portfolio-hero__list--item.image-5
			p.portfolio-hero__list--p Life
			p.portfolio-hero__list--p In
			p.portfolio-hero__list--p Motion
