@font-face {
    src: url("../fonts/Quicksand-Bold.woff2") format("woff2");
    font-family: "Quicksand-Bold";
}
@font-face {
    src: url("../fonts/Quicksand-Light.woff2") format("woff2");
    font-family: "Quicksand-Light";
}
@font-face {
    src: url("../fonts/Quicksand-Medium.woff2") format("woff2");
    font-family: "Quicksand-Medium";
}
@font-face {
    src: url("../fonts/Quicksand-Regular.woff2") format("woff2");
    font-family: "Quicksand-Regular";
}
@font-face {
    src: url("../fonts/Quicksand-SemiBold.woff2") format("woff2");
    font-family: "Quicksand-SemiBold";
}
@font-face {
    src: url("../fonts/AquireRegular.woff2") format("woff2");
    font-family: "Aquire-Regular";
}
