.is-hidden {
	// stylelint-disable-next-line declaration-no-important
	display: none !important;
}

.for-desktop {
	@include mobile {
		// stylelint-disable-next-line declaration-no-important
		display: none !important;
	}
}

.for-mobile {
	@include desktop {
		// stylelint-disable-next-line declaration-no-important
		display: none !important;
	}
}

.clearfix {
	overflow: auto;

	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	margin: -1px;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}

.container {
	max-width: 1344px;
	margin: 0 auto;
}

.heading-2 {
	font-family: $font-family-quicksandRegular;
	font-size: 48px;
	text-align: center;
}

::-webkit-scrollbar {
	width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888;
	background: linear-gradient(60deg, rgba(85,85,85,1) 0%, rgba(136,136,136,1) 100%);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555;
  }
